#chart {
<<<<<<< HEAD:src/Components/Container/Circle/Circle.css
  width: 200;
  height: 200;
=======
  margin: auto;
>>>>>>> f8fdc4bfcba9c21e5b363fca7936ad5fdf51f33a:src/Components/Circle/Circle.css
}
