/*   Fonts   */
@font-face{
    font-family:"cRoboto";
    font-weight: 400;
    font-style: normal;
    src:url(fonts/Roboto/Roboto-Bold.ttf) format("ttf");
}
@font-face{
    font-family:"cOpenSans";
    font-weight: 400;
    font-style: normal;
    src:url(fonts/OpenSans/OpenSans-Bold.ttf) format("ttf");
}
@font-face{
    font-family:"cPublicSans";
    font-weight: 400;
    font-style: normal;
    src:url(fonts/PublicSans/PublicSans.ttf) format("ttf");
}
/*     H    */
h1, h2, h3, h4, h5, h6{
    font-family: 'cRoboto', sans-serif;
    color:var(--maintext-color);
}
p{
    font-family:"cPublicSans", sans-serif;
    color:var(--text-color);
    font-size: 16px;
}
a{
    font-family:"cRoboto", sans-serif;
    color:var(--maintext-color);
    font-size: 24px;
    text-decoration: none;
}
body{
    height: 100%;
    min-width: 100%;
    background-image: radial-gradient(var(--color_gradient-top), var(--color_gradient-bottom));
}
.bg_gradient{
    background-image: radial-gradient(var(--color_gradient-top),var( --color_gradient-bottom));
}
/*Переменные*/
:root{
    --header-color: #242d4d;
    --title-color:#363636;
    --maintext-color:#ffffff;
    --text-color:#a2bafc;
    --secondtext-color:#55679e;
    --color_gradient-top:#253050;
    --color_gradient-bottom:#415082;
}